button, div.links a , .btn, a.btn {
    background-color: #369;
    color: #fff;
    padding: 0.3em;
    margin: 0.2em;
    border-radius: 0.66em;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align:center;
    min-width:6em;
}

button.btn-sm {font-size:0.75rem; padding:0.4em;}
button.btn-mini {    font-size: 0.75rem;
  padding: 0.3em 0.5em;
  width: auto;
  min-width: auto;}

button.succ {
  background-color: #13ce66;
  color: #fff;
}

button.navy {
  background-color: darkviolet;
  color: white;
}
button.red, .btn-red {
  background-color: red;
  color: black;
  border-color: black;
}

  button.gitt {
  background-color: #2da44e;
  color: #fff;
}
  
button.active{
  background-color:red!important;
}   

div.klawisze {margin:0.5em 0;}
div.klawisze a, div.klawisze button {min-width:7em; font-size:13pt; padding:0.45em;}

a.btn-info, button.btn-info, .btn-info {
  background-color: #69b;
  color: #000;
}
a.btn-warn, button.btn-warn, .btn-warn {
  background-color: orange;
  color: #000;
}