button, div.links a , .btn, a.btn {
    background-color: #369;
    color: #fff;
    padding: 0.5em 0.6em;
    margin: 0.2em;
    border-radius: 0.66em;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align:center;
    min-width:6em;
}


button.succ {
  background-color: #13ce66;
  color: #fff;
}
button.warn {
  background-color: orange;
  color: #000;
}
button.navy {
  background-color: darkviolet;
  color: white;
}
button.red {
  background-color: red;
  color: white;
}
button.info {
  background-color: #369;
  color: #fff;
}
  button.gitt {
  background-color: #2da44e;
  color: #fff;
}
  
button.active{
  background-color:red!important;
}   
