.small, small {
    font-size: .75em;
}

div.grid {   
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}
div.grid2 {   
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
}


div.pogoda { 
  cursor:pointer;
}
div.pogoda div { 
    border: 1px solid #ddd;
    background-color: #ffffff;
    padding: 0.5em 0.1em 0.1em 0.1em;
    word-break: break-all;
    border-radius: 0.2em;
    margin: 0.2em 0;
    text-align:center;
    position:relative;
    display: inline-block;
}


div.pogoda div span:nth-child(1) {
    font-size: 14pt;
    font-weight: 400;
    /*position:absolute;*/
    left:5px;
    top:2px;
    z-index:3;
}
div.pogoda div span:nth-child(2) {

}
div.pogoda div span:nth-child(3) {
    font-size: 17pt;
    font-weight: bold;
  display:inline-block;
}

div.pogoda div span:nth-child(5) {
    font-size: 17pt;   
}

div#sun div {
    font-size: 14pt;
    z-index:3;  
    padding:0.2em;
}

div#sun span {
    
    z-index:3;  
    padding:0.2em;
}


.fon-600 {font-weight:600;} 
.fon-7 {font-size:7pt;}
.fon-8 {font-size:8pt;}
.fon-9 {font-size:9pt;}
.fon-10 {font-size:10pt;}
.fon-11 {font-size:11pt;}
.fon-12 {font-size:12pt;}
.fon-14 {font-size:14pt;}
.fon-16 {font-size:16pt}
.fon-17 {font-size:17pt}
.fon-18 {font-size:18pt}
.fon-20 {font-size:20pt}


div.pogoda img {
    width: 12vw;
    max-width: 84px;
    vertical-align: top;
}
div.card {
    width: 33%;
    display: grid;
    float:left;
    padding:1%;
}
div.card img {
    width: 100%;
    
}
@media (max-width: 768px) {
    div.card {
        width: 50%;
        
    }
}   


/*scroll to top*/
.top {
  --offset: 50px;
  position: sticky;
  bottom: 20px;
  margin-right: 10px;
  place-self: end;
  /*margin-top: calc(100vh + var(--offset));*/
    margin-top: 5vh;

  /* visual styling */
  text-decoration: none;
  padding: 10px;
  /*font-family: sans-serif;*/
  color: #fff;
  background: #000;
  border-radius: 100px;
  white-space: nowrap;
  float:right;
}


/*loader*/
.loader {
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
