body {
  font:normal 15pt Verdana;
  background:#eee;
}
button, input[type="submit"]{
  background:#ddd;
  font-size:16pt;
  padding:0.2em;
  margin:0.5em;
}
p,h1,h2,h3 {margin:0;}
div {background:#fff; paddding:0.2em; margin:0.2em;}
div#keys {border:1px solid red;}
div#pico {border:1px solid blue;}
div#pico p {font-size:0.7em;}
