.volume-and-title {
    width: calc(100% - 100px);
    border: 1px solid silver;
    max-width:400px;
}

.radio-player {
  margin: 0.3em;
}
.button {
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: #F59E0B;
  color: #fff;
  border-radius: 100%;
}
.play-pause-button {
  width: 70px;
  height: 70px;
  font-size: 25px;
  margin-right: 24px;
  min-width: auto!important;
}
.mute-button {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  min-width: auto!important;
}

.player-controls {
    display: flex;
    align-items: center;
  }
  .currently-playing {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .volume-controls {
    display: flex;
    align-items: center;
  }

  .currently-playing-label {
    font-size: 1.2rem;
    font-weight: 300;
}
.currently-playing-title {
    font-size: 0.7rem;
}


.volume {
    -webkit-appearance: none;
    appearance: none;

    border-radius: 50px;
    overflow: hidden; /* This will help with styling the thumb */
    width: calc(100% - 55px);
    max-width:330px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
  
    height: 19px;
    width: 19px;
  
    cursor: ew-resize;
    background: #F59E0B;
    box-shadow: -400px 0 0 390px #FDE68A;
    border-radius: 50%;
  }
  input[type="range"]::-moz-range-thumb {
    /* same as above */
  }
  input[type="range"]::-ms-thumb {
    /* same as above */
  }
  input[type="range"]:focus {
    border-radius: 50px;
    box-shadow: 0 0 19px -3px #F59E0B;
  }
/******* mini ************/

.btn {
    z-index: 14;
    border: 1px solid #888;
    background: #aaa;
    padding: 0.2em 0.5em;
    margin: 0.3em;
    text-decoration: none;
    color: white;
    font-size: 1em;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
    border-radius: 0.75em;
    cursor: pointer;
    min-width: 92px!important;
    position: relative;
    display: inline-block;
    text-align: center;
}
.active, btn.active, button.active, button:active {
    background: #222!important;
    color: orange!important;
}
