
.colorA {background:#F5AE25; color:#000;}
.colorB {background:#EFE773; color:#000;}
.colorC {background:#CFF09E; color:#000;}
.colorD {background:#A8DBA8; color:#000;}
.colorE {background:#79BD9A; color:#000;}
.colorF {background:#3B8686; color:#fff;}
.colorG {background:#0B486B; color:#fff;}
.colorH {background:#139; color:#fff;}
.colorI {background:#2E3235; color:#fff;}
.colorJ {background:#B90504; color:#FFF;}



